@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
    }

    body {
        background-color: light-dark(#fff, #111);
        color: light-dark(#111, #fff);
        font-family: 'Segoe UI', 'Helevetica Neue', sans-serif;
    }
    #root {
        display: grid;
        width: 960px;
        margin: 0 auto;
        grid-template-areas:
            "header header"
            "main sidebar";
        grid-template-columns: 4fr 1fr;
    }
    header {
        grid-area: header;
        padding: 1em 0;
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: sidebar;
    }
}