{{define "title"}} Create New Wordsearch {{end}}
{{define "css"}}
<style>
    button {
        padding: 0.5rem;
        display: inline-block;
    }
    label {
        display: block;
        margin: 0 auto;
        span {
            display: inline-block;
            color: red;
            min-width: 100px;
        }
        input {
            padding: 0.5rem;
        }
        button {
            display: inline-block;
        }
    }
    button, input {
        margin: 0.25rem;
    }
</style>
{{end}}
{{define "js"}}{{end}}
{{define "body"}}
<form action="/grid" method="POST">
    <label for="width">
        <span>Height</span>
        <input type="text" name="width" />
    </label>
    <label for="height">
        <span>Width</span>
        <input type="text" name="height">
    </label>
    <label for="word" name="word">
        <span>Add Word</span>
        <input type="text" name="word">
        <button hx-post="/api/words" hx-target="#words-list">Add Word</button>
    </label>
    <button>Create wordsearch</button>
    <button>Clear</button>
</form>
<section id="words-list"></section>
{{end}}